.section-about {
  padding: 6rem 0;
}

.about-sup-text {
  @extend %style-sup-text--1;
}

.about {
  &__img {
    transform: translateY(-7rem);
    margin-bottom: -4rem;
  }

}

.about__text .about__paragraph:nth-of-type(1) {
  margin-bottom: 3rem;
}
