.section-about {
  padding: 6rem 0;

  @include for-screen-size(tab-land){
    // padding: 3.5rem 0
  }
}

.about-sup-text {
  @extend %style-sup-text--1;
}

.about {
  &__content {
    @include for-screen-size(tab-land) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__img {
    transform: translateY(-12rem);
    margin-bottom: -6rem;
    
    @include for-screen-size(tab-port) {
      // transform: translateY(-8.5rem);
      display: block;
      width: 100%;
      margin: 0  auto -6rem;
      // margin-bottom: -6rem;
    }

    @include for-screen-size(tab-land) {
      transform: translateY(-12rem);
      display: block;
      width: 45%;
      margin: 0;
      object-fit: cover;
    }
  }

  &__text {
    @include for-screen-size(tab-land) {
      width: 50%;
    }
  }
}

.about__text .about__paragraph:nth-of-type(1) {
  margin-bottom: 3rem;
  
  @include for-screen-size(tab-land){
    margin-bottom: 2rem;

  }
}
