.section-about {
  padding: 6em 0;
}

.about-sup-text {
  @extend %style-sup-text--1;
}

.about {
  &__content {
    @include for-screen-size($bp-tab-land) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__img {
    transform: translateY(-8em);
    margin-bottom: -6em;
    
    @include for-screen-size($bp-tab-port) {
      display: block;
      width: 100%;
      margin: 0  auto -5em;
    }

    @include for-screen-size($bp-tab-land) {
      transform: translateY(-8em);
      display: block;
      width: 45%;
      margin: 0;
      object-fit: cover;
    }
  }

  &__text {
    @include for-screen-size($bp-tab-land) {
      width: 50%;
    }
  }
}

.about__text .about__paragraph:nth-of-type(1) {
  margin-bottom: 3em;
  
  @include for-screen-size($bp-tab-land){
    margin-bottom: 2em;
  }
}
