.section-features {
  background-color: $clr-neutral--3;
  padding: 6em 0;
  text-align: center;
}

.feature-sup-text {
  @extend %style-sup-text--1;
  @extend %style-sup-text--2;
}

.feature-sup-text::after {
  content: "";
  width: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid $clr-neutral--1;
  transform: translateX(115%);
}

.features {
  @include for-screen-size($bp-tab-port) {
    width: 70%;
    margin: 0 auto;
  }

  @include for-screen-size($bp-tab-land) {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14em, min-content));
    grid-gap: 2em;
    justify-content: center;
  }

  @include for-screen-size($bp-desktop) {
    // grid-column-gap: 3.5em;
  }
}

.feature {
  &:not(:last-child) {
    margin-bottom: 3.2em;

    @include for-screen-size($bp-tab-land) {
      margin-bottom: 0;
    }
  }

  @include for-screen-size($bp-tab-land){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
