.section-features {
  background-color: $clr-neutral--3;
  padding: 6rem 0;
  text-align: center;
}

.feature-sup-text {
  @extend %style-sup-text--1;
  @extend %style-sup-text--2;
}

.feature-sup-text::after {
  content: "";
  width: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid $clr-neutral--1;
  transform: translateX(115%);
}

.features {
  @include for-screen-size(tab-land) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, min-content));

    grid-row-gap: 3rem;
    grid-column-gap: 6rem;
    justify-content: center;
  }

  @include for-screen-size(desktop) {
    grid-column-gap: 3.5rem;
  }
}

.feature {
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
