.footer {
  padding: 4em 0;
  background-color: $clr-neutral--1;
  color: $clr-neutral--3;
  text-align: center;

  &__address span{
    display: none;
  }

  &__address-phone{
    display: block;
    text-decoration: none;
    color: $clr-white;
  }

  & .container > *:not(:last-child) {
    margin-bottom: 1.5em;
  }
}

