.section-gallery {
  background-image: url("../assets/hero-bg.avif");
  background-size: cover;
  padding: 6em 0;
  text-align: center;
  color: $clr-white;
}

.gallery-sup-text {
  @extend %style-sup-text--1;
  @extend %style-sup-text--2;
}

.gallery-sup-text::after {
  content: "";
  width: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid $clr-white;
  transform: translateX(115%);
}

.gallery {

  @include for-screen-size($bp-tab-port){
    width: 70%;
    margin: 0 auto;
  }

  @include for-screen-size($bp-tab-land){
    width: 100%;
  }

  @include for-screen-size($bp-tab-land) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.5em, min-content));
    justify-content: center;
    grid-gap: 1.8em;
  }

  &__img:not(:last-child) {
    margin-bottom: 1.8em;
    
    @include for-screen-size($bp-tab-land){
      margin-bottom: 0;
    }
  }

}
