.section-hero {
  background-image: url("../assets/hero-bg.avif");
  background-size: cover;
  padding: 2em 0;
  height: 100vh;
  text-align: center;
}

.header {
  margin-bottom: 2em;
  &__logo {
    margin-bottom: 2em;
  }
}

.nav {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }

  &__link:is(:link, :visited) {
    text-decoration: none;
    font-size: $fs-21;
    font-family: $ff-primary;
    color: $clr-white;
  }

  &__link:is(:hover, :active) {
    color: $clr-primary--2;
  }
}

.hero__btn-wrapper > * {
  display: block;

  @include for-screen-size(tab-port) {
    display: inline;
    background-color: red;
  }
}

.btn {
  padding: 1em 4em;
  text-decoration: none;
  text-transform: uppercase;
}

.btn--primary {
  background-color: $clr-primary--1;
  color: $clr-neutral--1;
  margin-bottom: 2em;
}

.btn--secondary {
  background-color: transparent;
  color: $clr-white;
  box-shadow: inset 0 0 0 2px $clr-white;

  @include for-screen-size(tab-port){
    margin-left: 4em;
  }
}
