%style-heading {
  font-family: $ff-primary;
  font-weight: 700;
  text-align: center;
  line-height: $lh-12;
}

%style-sup-text--1 {
  display: block;
  text-transform: uppercase;
  margin-bottom: 2em;
}

%style-sup-text--2 {
  position: relative;
  padding-bottom: 2em;
}

@mixin for-screen-size($screen-size) {
  @if ($screen-size==tab-port) {
    @media only screen and (min-width: 31.25em) {
      @content;
    }
  }

  @if ($screen-size==tab-land) {
    @media only screen and (min-width: 53.15em) {
      @content;
    }
  }

  @if ($screen-size==desktop) {
    @media only screen and (min-width: 68.75em) {
      @content;
    }
  }

  @if ($screen-size==desktop-large) {
    @media only screen and (min-width: 80.25em) {
      @content;
    }
  }

  @if ($screen-size==big-desktop){
    @media only screen and (min-width:112.5em){
      @content;
    }
  }
}
