%style-heading {
  font-family: $ff-primary;
  font-weight: 700;
  text-align: center;
  line-height: $lh-12;
}

%style-sup-text--1 {
  display: block;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

%style-sup-text--2 {
  position: relative;
  padding-bottom: 4rem;
}

@mixin for-screen-size($screen-size) {
  @if ($screen-size==tab-port) {
    @media only screen and (min-width: 500px) {
      @content;
    }
  }

  @if ($screen-size==tab-land) {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if ($screen-size==desktop) {
    @media only screen and (min-width: 1100px) {
      @content;
    }
  }

  @if ($screen-size==desktop-large) {
    @media only screen and (min-width: 1285px) {
      @content;
    }
  }

  @if ($screen-size==big-desktop){
    @media only screen and (min-width:1800px){
      @content;
    }
  }
}
