.section-story {
  padding: 6rem 0;
}

.story {
  box-shadow: 0 1rem 2rem rgba($clr-black, 0.25);

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__content {
    padding: 2rem;
  }

  &__text {
    margin-bottom: 2rem;
  }

  &__caption>* {
    display: block;
    text-align: center;
  }

  &__caption-name {
    font-weight: 700;
    color: $clr-primary--2;
  }
}
