.section-story {
  padding: 6rem 0;
}

.stories {
  @include for-screen-size(tab-port) {
    width: 70%;
    margin: 0 auto;
  }

  @include for-screen-size(tab-land) {
    width: 100%;
  }

  @include for-screen-size(tab-land) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, min-content));
    grid-gap: 3rem;
    justify-content: center;
  }
}

.story {
  box-shadow: 0 1rem 2rem rgba($clr-black, 0.25);
  @include for-screen-size(tab-land) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &:not(:last-child) {
    margin-bottom: 4rem;

    @include for-screen-size(tab-land) {
      margin-bottom: 0;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    padding: 2rem 2rem 0 ;
    margin-bottom: 2rem;
  }
  
  &__caption > * {
    display: block;
    text-align: center;
  }
  
  &__caption {
    padding: 0 2rem 2rem  ;

    @include for-screen-size(tab-land) {
      margin-top: auto;
    }
  }

  &__caption-name {
    font-weight: $fw-700;
    color: $clr-primary--2;
  }
}
