.heading-primary {
  @extend %style-heading;
  font-size: clamp($fs-40, 6.35vw, $fs-80);
  letter-spacing: 2px;
  color: $clr-white;
  margin-bottom: 2rem;

  @include for-screen-size(tab-port) {
    margin-bottom: 4rem;
  }

  @include for-screen-size(tab-land) {
    margin-bottom: 5rem;
  }

  @include for-screen-size(desktop) {
    margin-bottom: 6rem;
  }

  @include for-screen-size(desktop-large) {
    margin-bottom: 6rem;
  }
}

.heading-secondary {
  @extend %style-heading;
  font-size: clamp($fs-30, 6.35vw, $fs-40);
  color: $clr-primary--2;
  margin-bottom: 2rem;
}

.heading-tertiary {
  font-family: $ff-secondary;
  font-weight: $fw-700;
  font-size: $fs-22;
  color: $clr-neutral--1;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
