.heading-primary {
  @extend %style-heading;
  font-size: clamp($fs-355, 6.35vw, $fs-80);
  letter-spacing: 2px;
  color: $clr-white;
  margin-bottom: 0.7em;

  @include for-screen-size($bp-tab-port) {
    margin-bottom: 1.8em;
  }

  @include for-screen-size($bp-tab-land) {
    margin-bottom: 1em;
  }

  @include for-screen-size($bp-desktop) {
    margin-bottom: 1em;
  }

  @include for-screen-size($bp-medium-desktop) {
    margin-bottom: 0.7em;
  }
}

.heading-secondary {
  @extend %style-heading;
  font-size: clamp($fs-30, 6.35vw, $fs-40);
  color: $clr-primary--2;
  margin-bottom: 1em;
}

.heading-tertiary {
  font-family: $ff-secondary;
  font-weight: $fw-700;
  font-size: $fs-22;
  color: $clr-neutral--1;
  text-transform: uppercase;
  margin-bottom: 1em;
}
