// Fonts

$ft-family-primary: 'Abril Fatface',sans-serif;
$ft-family-secondary:'Lato',sans-serif;

// Font sizes
$ft-size-80:8rem;
$ft-size-60:6rem;
$ft-size-27:2.7rem;
$ft-size-21:2.1rem;
$ft-size-18:1.8rem;

// Colors

// ### Primary

$clr-primary--1:#FF6635;
$clr-primary--2:#DD4E11;

// - 400: #FF6635
// - 500: #DD4E11

// - 900: #212121
// - 400: #5C5C5C
// - 200: #F8F8F8
// - 100: #FFFFFF

//  Neutral 

$clr-neutral--1:#212121;
$clr-neutral--2:#5C5C5C;
$clr-neutral--3:#F8F8F8;


$clr-white:#FFFFFF;
